@{
    ViewData["Title"] = "Pitcher Statistics";
    var enhancedStatistics = ViewBag.EnhancedStatistics;
}
<div class="text-center">
    <h1 class="display-4">Pitcher Statistics</h1>
</div>

@if (enhancedStatistics)
{
    <partial name="_PitcherEnhancedView" />
}
else
{
    <partial name="_PitcherSimpleView" />
}