@{
    ViewData["Title"] = "Batter Statistics";
    var enhancedStatistics = ViewBag.EnhancedStatistics;
}

<div class="text-center">
    <h1 class="display-4">Batter Statistics</h1>
</div>

@if (enhancedStatistics)
{
    <partial name="_BatterEnhancedView" />
}
else
{
    <partial name="_BatterSimpleView" />
}